@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-center">
    <h6>Brunestegen!</h6>
    <iframe id="skisporet-heggis"
            src="https://loyper.net/#/14,7.28291,61.43797" frameborder="0" height="500px" width="750px"
            allow="accelerometer; aautoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>