@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h5>Webcam Hoddlekve!</h5>
    <iframe id="skisporet"
            src="https://skisporet.no/setView/61.2850818/6.9782066/14/norges_grunnkart" frameborder="0" height="500px" width="750px"
            allow="accelerometer; aautoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
@*    <iframe sandbox="allow-scripts" id="yr-hodlekve"
            src="https://pent.no/61.29456,7.00267" frameborder="0" height="500px" width="750px"
            allow="accelerometer; aautoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>*@
</div>
<div id="wrap">
    <iframe id="scaled-frame"
            src="https://langrenn.harjo.net/axis-cgi/mjpg/video.cgi??a=0.26573685025976546" frameborder="0"
            allow="accelerometer; aautoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>