@using Adrians.ViewModels
@{
    ViewData["Title"] = "Langrenn";
    var snowStations = ViewData["SnowStations"] as IEnumerable<FrostSnowDepth?>;
}

<!-- Snøforhold -->
@if (snowStations is not null)
{
    <partial name="_SnowOverview" model="snowStations" />
}
else
{
    <div class="alert alert-secondary my-3">
        Klarte ikkje hente snømengd akkurat no.
    </div>
}

<!-- Vær -->
@{
    var varslar = ViewData["Korttidsvarslar"] as KorttidsvarselViewModel[];
}

@foreach (var varsel in varslar ?? [])
{
    <partial name="_KorttidsvarselCard" model="varsel" />
}