@{
    ViewData["Title"] = "Admin panel";
}

<h1>Welcome to the admin panel</h1>



<a href="c:\github\adriansvevside\adrians\views\admin\create.cshtml">Create</a>

<a href="c:\github\adriansvevside\adrians\views\admin\edit.cshtml">Edith</a>