@model List<Adrians.ViewModels.TournamentViewModel>?
@if (Model != null)
{
    <div>
        <table class="table table-striped table-hover table-responsive" style="width: 600px">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.gruppenamn</td>
                        <td>@item.id</td>
                        <td>@item.yearStart</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}