<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="
https://api.nuget.org/v3/index.json" />
		<add key="staf" value="
https://nuget.pkg.github.com/fmfaDigitalisering/index.json" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSourceCredentials>
		<staf>
			<add key="Username" value="%GITHUB_PACKAGE_USER_NAME%" />
			<add key="ClearTextPassword" value="%GITHUB_PACKAGE_TOKEN%" />
		</staf>
	</packageSourceCredentials>
</configuration>