@model List<Adrians.ViewModels.NifsKampViewModel>

<div>
    <h6>Top stories on Hacker News</h6>

    <table class="table table-striped table-hover table-responsive" style="width: 600px">
        <thead class="thead-dark">
            <tr>
                <th>H</th>
                <th>Resultat</th>
                <th>B</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.homeTeam</td>
                    <td>@item.result</td>
                    <td>@item.awayTeam</td>
                </tr>
            }
        </tbody>
    </table>
    <p>*Click the score to get to comments</p>
</div>