@model List<Adrians.Models.HackerNewsModel>?

<div class="container mt-5">
    <h2 class="mb-4">Top stories on Hacker News</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm bg-dark text-light">
                    <div class="card-body">
                        <h5 class="card-title"><a href="@item.url" class="text-light">@item.title</a></h5>
                        <p class="card-text">Score: <a href="https://news.ycombinator.com/item?id=@item.score" class="text-warning">@item.score</a></p>
                        <p class="card-text">By: <span class="text-info">@item.by</span></p>
                    </div>
                </div>
            </div>
        }
    </div>
    <p class="text-light">*Click the score to get to comments. I think</p>
</div>