@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h6>Adrians intervevside</h6>
    <h2 id="birkenCountdown"></h2>
    <img src="~/img/birken.png" alt="birken_logo width="96" height="96" />
    <p></p>
    <p>
        @*Just a button to ping our LogHub*@
        <input type="button" class="btn btn-outline-dark" value="Ping LogHub!" onclick="location.href='@Url.Action("LogHubSite", "Home")'" />
    </p>
    
</div>



<script>
    // Set the date i'm' counting down to
    var countDownDate = new Date("Mar 17, 2023 08:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Output the result in an element with id="birkenCountdown"
      document.getElementById("birkenCountdown").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";

      // If the count down is over, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("birkenCountdown").innerHTML = "EXPIRED";
      }
    }, 1000);
</script>
