name: ZAP Full Scan

on:
  workflow_dispatch:
jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          target: 'https://adriansvevside.azurewebsites.net/'
          cmd_options: '-a'
