@model Adrians.ViewModels.CreateCharacterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Your Character";
}

<h2>Create Your Character</h2>

<form asp-action="CreateCharacter" method="post">
    <div class="form-group">
        <label asp-for="CharacterName" class="control-label"></label>
        <input asp-for="CharacterName" class="form-control" placeholder="Enter your character's name" required />
        <span asp-validation-for="CharacterName" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create Character</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}